#env values for testing
#make sure all public addresses are checksummed
CHAIN_ID=
BUNDLER_URL=
PAYMASTER_RPC=
JSON_RPC_NODE_PROVIDER=
PUBLIC_ADDRESS1=
PRIVATE_KEY1=
ERC20_TOKEN_ADDRESS=

PUBLIC_ADDRESS2=
PUBLIC_ADDRESS3=
