#sepolia chain example values
CHAIN_ID=11155111
BUNDLER_URL=https://sepolia.test.voltaire.candidewallet.com/rpc
JSON_RPC_NODE_PROVIDER=https://ethereum-sepolia.publicnode.com

#account owner public address and privatekey
PUBLIC_ADDRESS1=
PRIVATE_KEY1=

PUBLIC_ADDRESS2=
PRIVATE_KEY2=